@import '../../common/styles/variable.css';
main {
    position: absolute;
    top: $height-header;
    bottom: $height-header;
    z-index: $z-index-main;
    width: 100%;
    overflow: hidden;
}

:global(.nothing) {
    margin-top: 100px;
    text-align: center;
    
    p:nth-child(2) {
        margin-top: 15px;
        font-size: 14px;
        color: #333;
    }

    p:last-child {
        margin-top: 7px;
        font-size: 12px;
        color: #aaa;
    }
}