@import '../../common/styles/variable.css';
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-index-header;
    width: 100%;
    height: $height-header;
    line-height: $height-header;
    box-shadow: 0px 3px 2px #ccc;
    
    .left {
        display: inline-block;
        float: left;
    }

    .right {
        display: inline-block;
        float: right;
    }

    .text {
        font-size: 20px;
    }

    .icon {
        display: inline-block;
        font-size: 20px;
        padding: 0 20px;
        color: #fff;
    }
    
}